<div class="filter-item" data-id="<%= converter.id() %>">
  <button class="edit-button">edit</button>
  <div class="filter-name"><%= converter.name %></div>
  <div>
    対象のページ
    <span>
      <%= converter.pageUrlIsRegexp() ? '正規表現' : '文字列' %>
    </span>
    <span><%= _.escape(converter.pageUrlAsString()) %></span>
  </div>
  <div>
    <pre><%= _.escape(converter.filterScript) %></pre>
  </div>
</div>
