<div class="filter-item" data-id="<%= converter.id() %>">
  <button class="edit-button">edit</button>
  <div class="filter-name"><%= converter.name %></div>
  <div>
    対象のページ
    <span>
      <%= converter.pageUrlIsRegexp() ? '正規表現' : '文字列' %>
    </span>
    <span><%= _.escape(converter.pageUrlAsString()) %></span>
  </div>
  <div>
    <pre style="margin-bottom: 0"><code class="javascript">function(urls) {</code></pre>
    <pre style="margin:0 0 0 20px"><code><%= _.escape(converter.filterText) %></code></pre>
    <pre style="margin-top: 0"><code>}</code></pre>
  </div>
</div>
